body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 100px;
}

.header {
    text-align: center;
}

.header img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    margin: 10px 0;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
}

ul {
    list-style: square;
}

button {
    padding: 8px 12px;
    background: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.skill-box {
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    margin-right: 4px;
}

.skill-active {
    background-color: red;
}

.skill-name {
    margin-left: 8px;
}
